.title {
    font-family: "Roboto";
}

.button-ujung {
    margin-right: 0px;
}

.hasil {
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 50px;
}

.textHasil {
    font-family: "Roboto";
    font-size: 18px;
}